{% extends 'base.html' %}

{% block body %}
<div class="container" style="margin-top: 4em; margin-left: 200px; margin-right:200px; margin-bottom:100px;">
	<div>
		<article class="card" style="border:none;">
			<h3>
				你了解粉丝的情绪吗
			</h3>
			<p>
				这是一个可以帮助你分析自己粉丝情绪的工具。
			</p>
			<p>
				通过获取微博的评论，计算出每条微博中粉丝的平均情绪值。
			</p>
			<p>比如：</p>
			<p>
				<img src="{{ url_for('static', filename='img/example.png') }}" alt="示例图" style="max-width:100%">
			</p>
		</article>
	</div>
	<div>
		<article class="card" style="border:none;">
			<p>
				<span style="margin-right:20px;">了解了？Try it!</span>
			</p>
			<p>
				<a href="{{weibo_signin_url}}">
					<img src="{{ url_for('static', filename='img/weibo_login.png') }}" alt="登录微博">
				</a>
			</p>
		</article>
	</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}